# --- Environments & Secrets ---
.venv/
venv/
.env
.cadence/

# --- IDEs ---
.idea/
.vscode/

# --- Python ---
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Airflow & Logs ---
logs/
*.log
airflow.db
airflow.cfg

# --- Data & Models (CRITICAL) ---
# Игнорируем всё содержимое папок с данными, кроме файлов .gitkeep (чтобы папки сохранились в git)
data/01_raw/*
!data/01_raw/.gitkeep
data/02_processed/*
!data/02_processed/.gitkeep
data/03_results/*
!data/03_results/.gitkeep

models/*
!models/.gitkeep